:root {
	--monokai-pink:#FF6188;
	--monokai-green:#A9DC76;
	--monokai-yellow:#FFD866;
	--monokai-blue:#78DCE8;
	--monokai-purple:#AB9DF2;
}
html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
html body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
	overflow-y: scroll;
}
::-webkit-scrollbar {
	width: 0px;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
}

.top-bar{
	position:fixed;
	top:0px;
	right:0px;
	z-index: 2;
}
.w-85{
	width:85%;
}
.w-15{
	width:15%;
}
.w-10{
	width:10%;

}
.w-90{
	width:90%;

}
.icon-link{
	color:var(--monokai-pink);
}
.icon-link:hover{
	color:var(--monokai-pink);
}
.input_area{
	position:fixed;
	top:0;
	left:0;
	z-index: 2;
}
.result_area{
	position:absolute;
	right:0;
}
.accent{
	color:var(--monokai-pink);
}
.dropdown button{
	background-color: var(--monokai-pink);
}


.input_area>a:link:hover{
	color: var(--monokai-yellow);
}
.input_area>a:link{
	text-decoration-line:none;
	color:white;
}
.input_area>a:visited{
	text-decoration-line:none;
	color:var(--monokai-yellow);
}
a.btn.btn-primary{
	background-color: var(--monokai-pink);
	border-color: var(--monokai-blue);
}

.home_navbar{
	height:80px;
}
.section{
	background-color: black;
	color:white;
	width: 100%;
	height: 115vh;

	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}
.footer{
	background-color: #78DCE8;
	width: 100%;
	height: 250px;
	text-align: center;
	text-justify: center;
}

#side-bar{
	position:sticky;
	float: right;
	width:100px;
	top:50%;
	transform: translate(0px, -50%);
	height: 50vh;
	margin-top: -50vh;
	padding:3px;
	z-index: 2;
}

#side-bar a{
	
	color: var(--monokai-pink);
	text-decoration-line: none;
	
}
#side-bar a.active{
	color: var(--monokai-yellow);
}
#section-1{
	z-index:2;
}
.scrollable{
	height: 500vh;
}
.bi.bi-chevron-compact-up{
	color: var(--monokai-pink);
	
}
.bi.bi-chevron-compact-up:hover{
	color: var(--monokai-yellow);
	cursor: pointer;
}
.bi.bi-chevron-compact-down{
	color: var(--monokai-pink);
}
.bi.bi-chevron-compact-down:hover{
	cursor: pointer;
	color: var(--monokai-yellow);
}
.filler{
	visibility: hidden;
}
