:root {
	--monokai-pink:#FF6188;
	--monokai-green:#A9DC76;
	--monokai-yellow:#FFD866;
	--monokai-blue:#78DCE8;
	--monokai-purple:#AB9DF2;
}
.top-bar{
	position:fixed;
	top:0px;
	right:0px;
	z-index: 2;
}
.w-85{
	width:85%;
}
.w-15{
	width:15%;
}
.w-10{
	width:10%;

}
.w-90{
	width:90%;

}
.icon-link{
	color:var(--monokai-pink);
}
.icon-link:hover{
	color:var(--monokai-pink);
}
.input_area{
	position:fixed;
	top:0;
	left:0;
	z-index: 2;
}
.result_area{
	position:absolute;
	right:0;
}
.accent{
	color:var(--monokai-pink);
}
.dropdown button{
	background-color: var(--monokai-pink);
}


.input_area>a:link:hover{
	color: var(--monokai-yellow);
}
.input_area>a:link{
	text-decoration-line:none;
	color:white;
}
.input_area>a:visited{
	text-decoration-line:none;
	color:var(--monokai-yellow);
}
a.btn.btn-primary{
	background-color: var(--monokai-pink);
	border-color: var(--monokai-blue);
}