:root {
	--beige: #FAF1E4;
	--green_vintage: #CEDEBD;
	--green_food: rgb(158, 179, 132);
	--green_wedding: rgb(67, 83, 52);
	--monokai-pink:#FF6188;
	--monokai-green:#A9DC76;
	--monokai-yellow:#FFD866;
	--monokai-blue:#78DCE8;
	--monokai-purple:#AB9DF2;
}
.top-bar{
	position:fixed;
	top:0px;
	right:0px;
	z-index: 2;
}
.w-85{
	width:85%;
}
.w-15{
	width:15%;
}
.icon-link{
	color:var(--monokai-pink);
}
.icon-link:hover{
	color:var(--monokai-purple);
}
