<!DOCTYPE>
<html>
<head>
	<meta charse="UTF-8">
	<link rel="stylesheet" href="./views/style.css">
	<script src = "./views/index.js" defer></script>
	<title>DotA</title>
</head>
<body>
	<nav>
		<h3>DotA</h3>
		<a href="https://github.com/rpineda26/dota2">GitHub</a>
	</nav>
	<div class="content_area">
		<div class ="input_area">
			<a href="{player features}">Player Data</a>
			<br>
			<a href="{hero features}">Hero Data</a>
			
		</div>
		<div class = "result_area">
			<label for="player_id_input">Player ID</label>
			<input type ="text" id = "player_id_input" name = "player_id_input">
			<button id = "player_id_submit">send</button>
			<br>
			player id is <span id ="player_id"></span>

		</div>
	</div>
</body>
</html>
